{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}

<a href="{% url 'product-create' %}" class="btn btn-primary" style="margin-bottom: 10px;">Añadir Producto</a>

<div class="row">
    {% if products %}
        {% include 'product_table.html' %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                No hay productos registrados.
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}