<table id="provider-table" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for provider in providers %}
        <tr>
            <td>{{ provider.first_name }}</td>
            <td>{{ provider.last_name }}</td>
            <td>{{ provider.personal_id }}</td>
            <td style="display: flex; justify-content: space-between;">
                <div style="margin-right: -64px;">
                  <a href="{% url 'provider-delete' provider.id %}" class="btn btn-danger" style="padding: 4px 8px;">Eliminar</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>