{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}

<a href="{% url 'provider-create' %}" class="btn btn-primary" style="margin-bottom: 10px;">Añadir Proveedor</a>

<div class="row">
    {% if providers %}
        {% include 'provider_table.html' %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                No hay proveedores registrados.
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}